.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

@mixin grid($columns, $columns-width, $justify, $align) {
  display: grid;
  grid-template-columns: repeat($columns, $columns-width);
  justify-content: $justify;
  align-items: $align;
}

@mixin flex($dir, $justify, $align) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin btn($width, $height, $radius, $bg-color, $color, $shadow) {
  width: $width;
  height: $height;
  line-height: $height;
  text-align: center;
  border-radius: $radius;
  background-color: $bg-color;
  color: $color;
  font-weight: var(--font-weight-medium);
  box-shadow: $shadow;
  transition: var(--transition-timing);
}

.primary-btn {
  @include btn(
    15.625rem,
    3.75rem,
    0.625rem,
    var(--color-primary),
    var(--color-white),
    var(--btn-shadow)
  );
}

.secondry-btn {
  @include btn(
    9.375rem,
    2.8125rem,
    2.8125rem,
    transparent,
    var(--color-primary),
    0
  );
  border: 1px solid var(--color-primary);
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: var(--btn-shadow);
  }
}

.section-padding {
  padding: var(--padding-tb) 0;
}

.section-title {
  font-size: var(--font-size-35);
  font-weight: var(--font-weight-medium);
  line-height: var(--heading-line-height);
  color: var(--color-heading);
  margin-bottom: 1.25rem;
}

.section-header {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: var(--text-line-height);
  margin-bottom: var(--margin-bottom);
}

.small-heading {
  margin: 1.875rem 0;
  text-align: center;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  color: var(--color-heading);
}
