@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .section-padding {
    padding: var(--padding-tb-50) 0;
  }

  .section-header {
    max-width: 100%;
    br {
      display: none;
    }
  }

  .section-title {
    font-weight: var(--font-weight-medium);
    line-height: normal;
    margin: 1.25rem 0;
  }

  .header {
    padding: 1.5rem 0;
    &:has(.burger-menu__checkbox:checked) {
      .burger-menu__bar {
        &:nth-child(1) {
          transform: translateY(7px) rotate(40deg);
        }
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
        &:nth-child(3) {
          transform: translateY(-15px) rotate(-40deg);
        }
      }
    }
    .header__wrapper {
      grid-template-columns: repeat(2, 1fr);
      .navigation,
      .registration {
        display: none;
      }
      .burger-menu__checkbox:checked + .navigation-mobile {
        top: 65px;
      }

      .navigation-mobile {
        display: block;
      }
    }
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    z-index: 0;
    align-items: end;
    cursor: pointer;
    .burger-menu__bar {
      height: 0.3rem;
      width: 2.375rem;
      background-color: var(--color-heading);
      transition: var(--transition-timing);
    }
  }

  .bio {
    padding: 1.57rem 0;
    .bio__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    .bio__description {
      .bio__heading {
        font-size: var(--font-size-40);
        line-height: 3.375rem;
      }
      .bio__text {
        line-height: var(--text-line-height);
        margin-bottom: 1.75rem;
      }
      .primary-btn {
        width: 100%;
      }
    }
  }

  .statistics {
    margin-top: 2.5rem;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    .statistics__item {
      border: 1px solid var(--color-border);
      border-radius: var(--border-radius);
    }
  }

  .features {
    .features__wrapper {
      grid-template-columns: repeat(1, 1fr);
      .features__img {
        img {
          max-width: 100%;
        }
      }
    }
  }

  .pricing {
    .pricing__wrapper {
      grid-template-columns: repeat(1, 1fr);
      .pricing__plan {
        .pricing__plan-list {
          min-height: auto;
        }
        .pricing__plan-footer {
          margin-top: 3.25rem;
        }
      }
    }
  }

  .global-network {
    &.section-padding {
      padding: var(--padding-tb-50) 0 0;
    }
    .global-network__wrapper {
      margin-top: 0;
    }
  }

  .clients {
    .clients__wrapper {
      gap: 1rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
  }

  .testimonials {
    .testimonials__wrapper {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      grid-template-columns: repeat(3, 100%);
      .testimonials__customer {
        .testimonials__customer-header {
          grid-template-columns: 24% 1fr auto;
          .header-title {
            .small-heading {
              font-size: var(--font-size-16);
            }
          }
        }
        .testimonials__content {
          p {
            line-height: 1.4;
          }
        }
      }
    }
  }

  .footer {
    .footer__subscribe {
      grid-template-columns: 1fr;
      padding: 3.66rem 1.25rem;
      .footer__subscribe-description {
        margin-bottom: 2.25rem;
        .section-title {
          max-width: 100%;
        }
      }
      .footer__subscribe-btn {
        .primary-btn {
          width: 100%;
        }
      }
    }
    .footer__wrapper {
      grid-template-columns: 1fr;
      .footer__content-description {
        br {
          display: none;
        }
      }
      .footer__links {
        align-items: normal;
        .small-heading {
          text-align: left;
          margin: 1.875rem 0;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .container {
    max-width: 90%;
  }

  .section-padding {
    padding: var(--padding-tb-50) 0;
  }

  .section-header {
    max-width: 100%;
    br {
      display: none;
    }
  }

  .section-title {
    font-weight: var(--font-weight-medium);
    line-height: normal;
    margin: 1.25rem 0;
  }

  .header {
    padding: 1.5rem 0;
    &:has(.burger-menu__checkbox:checked) {
      .burger-menu__bar {
        &:nth-child(1) {
          transform: translateY(7px) rotate(40deg);
        }
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
        &:nth-child(3) {
          transform: translateY(-15px) rotate(-40deg);
        }
      }
    }
    .header__wrapper {
      grid-template-columns: repeat(2, 1fr);
      .navigation,
      .registration {
        display: none;
      }
      .navigation-mobile {
        display: block;
      }
    }
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    z-index: 0;
    align-items: end;
    cursor: pointer;
    .burger-menu__bar {
      height: 0.3rem;
      width: 2.375rem;
      background-color: var(--color-heading);
      transition: var(--transition-timing);
    }
  }

  .bio {
    padding: 1.57rem 0;
    .bio__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    .bio__description {
      .bio__heading {
        font-size: var(--font-size-40);
        line-height: 3.375rem;
      }
      .bio__text {
        line-height: var(--text-line-height);
        margin-bottom: 1.75rem;
      }
      .primary-btn {
        width: 100%;
      }
    }
  }

  .statistics {
    margin-top: 2.5rem;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    .statistics__item {
      border: 1px solid var(--color-border);
      border-radius: var(--border-radius);
    }
  }

  .features {
    .features__wrapper {
      grid-template-columns: repeat(2, 1fr);
      .features__img {
        img {
          max-width: 100%;
        }
      }
    }
  }

  .pricing {
    .pricing__wrapper {
      grid-template-columns: repeat(2, 1fr);
      .pricing__plan {
        .pricing__plan-list {
          min-height: auto;
        }
        .pricing__plan-footer {
          margin-top: 3.25rem;
        }
      }
    }
  }

  .global-network {
    &.section-padding {
      padding: var(--padding-tb-50) 0 0;
    }
    .global-network__wrapper {
      margin-top: 0;
    }
  }

  .clients {
    .clients__wrapper {
      gap: 1rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
  }

  .testimonials {
    .testimonials__wrapper {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      grid-template-columns: repeat(3, 50%);
      .testimonials__customer {
        .testimonials__customer-header {
          grid-template-columns: 24% 1fr auto;
          .header-title {
            .small-heading {
              font-size: var(--font-size-16);
            }
          }
        }
        .testimonials__content {
          p {
            line-height: 1.4;
          }
        }
      }
    }
  }

  .footer {
    .footer__subscribe {
      grid-template-columns: repeat(2, 1fr);
      padding: 3.66rem 1.25rem;
      .footer__subscribe-description {
        margin-bottom: 2.25rem;
        .section-title {
          max-width: 100%;
        }
      }
    }
    .footer__wrapper {
      .footer__content-description {
        br {
          display: none;
        }
      }
      .footer__links {
        align-items: normal;
        .small-heading {
          text-align: left;
          margin: 1.875rem 0;
        }
      }
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

// .burger-menu__checkbox:checked + .navigation {
//   top: 100%;
// }
